* {
  box-sizing: border-box;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 12px;
    text-align: center;
    font-size: 20px;
    background-color: whitesmoke;
  }

  h1 {
    text-align: center;
  }

  body {
    background-color: palegoldenrod;
  }

  p {
    font-size: 30px;
  }

  .div1 {
    display: flex;
    align-items: center;
  }

